data filter=lfs diff=lfs merge=lfs -text
data/superintronic-hits.rds filter=lfs diff=lfs merge=lfs -text
data/complete-annotation.rds filter=lfs diff=lfs merge=lfs -text
data/complete-coverage.rds filter=lfs diff=lfs merge=lfs -text
data/design.rds filter=lfs diff=lfs merge=lfs -text
data/filtered-annotation.rds filter=lfs diff=lfs merge=lfs -text
data/isa_hits.rds filter=lfs diff=lfs merge=lfs -text
data/parts-coverage.rds filter=lfs diff=lfs merge=lfs -text
data/superintronic-features.rds filter=lfs diff=lfs merge=lfs -text
